<div class="container">
  <div class="card card-block">
    <h4 class="card-title text-xs-center">My offers</h4>
    <hr>
    <div class="card-content">
      <div class="card-text content">
        <div class="list-group">
          <div class="list-group-item list-group-item-action {{isSelectedOffer(indexOffer)}}"
               title="Candidates"
               *ngFor="let offer of myoffers; let indexOffer = index;" (click)="setOfferCible(offer,indexOffer)">
            <h5 class="list-group-item-heading">{{offer.title}}</h5>
            <p class="list-group-item-text">{{offer.enterprise}} — {{offer.length}} month(s) — {{offer.activityField}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
