<div class="container">
  <div class="row">
    <div class="col-md-6" >
      <md-card style="margin-right: 0px;">
        <md-card-title class="text-center">List of applicaitons</md-card-title>
        <md-card-content>
          <md-list-item *ngFor="let appli of waitingAppliList; let index = index;" (click)="setAppliCible(appli); setIndexSelected(index);">
            <h4 md-line [style.background-color]="isSelected(index)">Application with ID {{appli.id}}</h4>
          </md-list-item>
        </md-card-content>
      </md-card>
    </div>
    <div class="col-md-6">
      <md-card style="margin-left: 0px;">
        <md-card-title class="text-center" *ngIf="!showDetails">Offer details and student profile</md-card-title>
        <div *ngIf="showDetails">
          <md-card-title class="text-center" *ngIf="!showDetails">Offer details and student profile</md-card-title>
          <md-card-content>
            <md-list-item>
              <span style="font-weight: bold;">Enterprise: </span>
              <span>{{offerCible.enterprise}}</span>
            </md-list-item>
            <md-list-item>
              <span style="font-weight: bold;">Upload Date: </span>
              <span>{{offerCible.dateCreation}}</span>
            </md-list-item>
            <md-list-item>
              <span style="font-weight: bold;">Beginning Date: </span>
              <span>{{offerCible.dateBeginning}}</span>
            </md-list-item>
            <md-list-item>
              <span style="font-weight: bold;">Intership Length: </span>
              <span>{{offerCible.length}} month(s)</span>
            </md-list-item>
            <md-list-item>
              <span style="font-weight: bold;">Activity Field: </span>
              <span>{{offerCible.activityField}}</span>
            </md-list-item>
            <md-list-item>
              <span style="font-weight: bold;">Location:</span>
              <span>{{offerCible.areaCode}} {{offerCible.location}}</span>
            </md-list-item>
            <md-list-item>
              <span style="font-weight: bold;">Mission: </span>
              <span>{{offerCible.missionStatement}}</span>
            </md-list-item>
            <md-list-item>
              <span style="font-weight: bold;">Details: </span>
              <span>{{offerCible.details}}</span>
            </md-list-item>
            <md-list-item>
              <span style="font-weight: bold;">Profile: </span>
              <span>{{offerCible.profile}}</span>
            </md-list-item>
            <md-list-item>
              <span style="font-weight: bold;">Pay: </span>
              <span>{{offerCible.pay}}</span>
            </md-list-item>
            <md-list-item>
              <span style="font-weight: bold;">Contact: </span>
              <span>{{offerCible.contactInformations}}</span>
            </md-list-item>
            <br>
            <div class="text-center">
              <button md-raised-button color="primary" (click)="acceptAppli()">Accept</button>
              <button md-raised-button color="accent" (click)="refuseAppli()">Refuse</button>
            </div>
            <br>
          </md-card-content>
        </div>
      </md-card>
    </div>
  </div>
</div>

