<div class="container">
  <div class="card card-block center" style="width: 50%;">
    <h3 class="card-title text-xs-center">{{user.name}}</h3>
    <br>
    <div class="card-text">
      <table class="table table-user-information text-xs-center">
        <tr>
          <td style="font-weight: bold;">Faculty:</td>
          <td>{{user.pathway}}</td>
        </tr>
        <tr>
          <td style="font-weight: bold;">Year:</td>
          <td>BAC +{{user.year}}</td>
        </tr>
        <tr>
          <td style="font-weight: bold;">Status:</td>
          <td>{{user.type}}</td>
        </tr>
        <tr>
          <td style="font-weight: bold;">Email:</td>
          <td>{{user.email}}</td>
        </tr>
      </table>
    </div>
  </div>
</div>
