.center {
  float: none;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

md-card {
  margin: 20px;
}

button:focus {
  outline: none !important;
}

.content {
  position:relative;
  height: 70vh;
  overflow-y:scroll;
}
